venv/
.venv/
__pycache__/
*.pyc

quickstart-pytorch/dataset/
quickstart-pytorch/dataset_ffpp/
quickstart-pytorch/dataset_openforensic/
saved_models/
quickstart-pytorch/saved_models/

*.pth
*.pt

.ray/